* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: #f0f2f5;
}

.header {
    width: 500px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img {
    padding: 0em 6.5em;
}

.img img {
    margin: auto;
    width: fit-content;
    border: 1px;
}

.info {
    font-size: 24px;
    text-align: center;
    width: 350px;
    margin: auto;
}

.form {
    width: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

::placeholder {
    color: rgba(112, 112, 112, 0.8);
}